{% extends '/user_forms/main_view.html' %}



{% block content %}
    <br><br>
    <div class="form-group" style="border:1px solid #cecece;">
        <h2>Wind Turbine Name:</h2>
        <label></label>
    </div>
    <div class="form-group" style="border:1px solid #cecece;">
        <h2>Error Code:</h2>
        <label></label>
    </div>


	<div class="form-group" style="border:1px solid #cecece;">
		<label for="input_variable_wtg_fault_description_init">Error Description:</label>
		<input type="text" class="form-control is-valid" id="input_variable_wtg_fault_description_init"  value=
        {{form.input_variable_wtg_fault_description_init}}
          
			pattern="^.{3,200}$"
			required>						
    </div>

	<div class="form-group" style="border:1px solid #cecece;">
		<label for="input_variable_user_comment">Comment:</label>
		<textarea  class="form-control is-valid" id="input_variable_user_comment" rows="3"
			pattern="^\w{3,20}$"
			required></textarea>
	</div>
{% endblock %}