{% extends '/user_forms/main_view.html' %}



{% block content %}

    <div>
        <h2>Wind Turbine Name:</h2>
        <h3>{{variables.response.wtg_name.value}}</h3>
    </div>
       <div>
        <h2>Error Code:</h2>
        <h3>{{variables.response.fault_code.value}}</h3>
    </div>
    </div>
       <div>
        <h2>Error Description:</h2>
        <input type="text" id="input_variable_wtg_fault_description}}" value="{{variables.response.wtg_fault_description.value}}" >
    </div>
    <div class="form-check">
        <h2>Comment:</h2>
        <textarea  class="form-control is-valid" id="input_variable_user_comment" rows="3" 
        pattern="^\w{3,20}$"
        required></textarea>
    </div>

{{variables}}
{% endblock %}