
<h2>Task List:</h2>
<table class="table table-striped table-bordered" id="sortTable" >
<thead>
<tr>
<th>Select</th>
<th>Task Name</th>
<th>Due Date</th>
<th>Prio</th>

</tr>
</thead>
<tbody >
    {%for record in my_tasks%}

        <tr id={{record.id}}>
            <td> <input id="is_selected_{{record.id}}" type="checkbox"></td>
            <td>{{record.name}}<br>
                {{record.created}}
            </td>
            <td>{{record.due}}</td>
            <td>{{record.priority}}</td>
        </tr>
    {%endfor%}

</tbody>
</table>

{{view_type}}
  <div>
  {%if view_type=="user"%}
  <button type="button" onclick="claimUnclaimSelectedTasks(action='unclaim')" id="unclaim_task" class="btn btn-primary">Unclaim</button>
  
  {%elif view_type =="group"%}
  <button type="button" onclick="claimUnclaimSelectedTasks(action='claim')" id="unclaim_task" class="btn btn-primary">Claim</button>
  {%endif%}
  </div>

