<!DOCTYPE html>
<html lang="en">
<head>
    <title>New process start page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>


<h2>Execution history: </h2>
    <br>
    {% if variables[0]  %}
        <div>
            Process: {{variables[0].processDefinitionKey}} <br>
            Instance ID: {{variables[0].processInstanceId}} <br>
        </div>
    {% endif %}
    {%for record in variables%}
        <div style="border:1px solid #cecece;">
            <label>{{record.activityName}}</label><br>
			<label>{{record.endTime}}</label><br>
        </div>
		<br>
    {%endfor%}


</body>
</html>