<!DOCTYPE html>
<html lang="en">
<head>
    <title>New process start page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>
<body>

	<div class="container">
	    <form method="POST" action="{{ url_for('submit_process', process_key=form.process_key) }}" class="was-validated" enctype="multipart/form-data">
{{ form.csrf_token }}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<section class="content">

    <h2>{{form.process_name}}</h2>

  <div id="process">
      {% block content %}{% endblock %}
  </div>
  <div>
 
 
 
  <button type="button"  id="show " class="btn btn-outline-info" data-toggle="modal" data-target="#modalProcessInfo">Info</button>

  <button type="submit"  id={{form.process_name}} name={{form.process_name}} class="btn btn-outline-success">Real Submit</button>
  
	<!-- Modal -->
<div class="modal fade" id="modalProcessInfo" tabindex="-1" role="dialog" aria-labelledby="modalProcessInfoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalProcessInfoTitle">Process description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{form.process_description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  </div>
</section>
        </form>
    </div>
</body>