<!DOCTYPE html>
<html lang="en">
<head>
    <title>New process start page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
	    <form method="POST" action="{{ url_for('submit_process', process_key=form.process_key) }}" class="was-validated">

<section class="content">
  <h2>Task Name: </h2><br>
  <div id="user_task_payload">
      {% block content %}{% endblock %}
  </div>
  <div>
 
  <button type="submit"  id="save_as_draft" class="btn btn-primary">Save as Draft</button>
  <button type="submit"  id="complete_task" class="btn btn-primary">Complete Task</button>
  <button type="submit"  id="unclaim_task" class="btn btn-primary">Unclaim Task</button>
  </div>
</section>
        </form>
    </div>
</body>
</html>